      body {
        font-family: sans-serif;
        justify-content: center;
        margin: 0px;
      }

      header {
        background-color: #70DAE6;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      }

      .content-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      nav {
        font-size: 20px;
        display: flex;
        justify-content: center;
        margin-top: 40px;
      }

      nav a {
        color:#000000; 
        text-decoration:none;
        margin: 20px 75px 20px 75px;
      }

      .home-title {
        max-width: 700px;
        margin: auto;              
        text-align: center;
      }

      main {
        text-align: center;
        padding: 0px;
      }

      .skill, .tool {
        color: #FFFFFF;
        background-color: #000000;
        border-radius: 10px;
        width: 150px;
        padding: 10px;
        display: inline-block;
        margin-right: 10px;
      }

      .portfolio-header {
        margin-bottom: 60px;
      }

      .portfolio-wrapper {
        justify-content: center;
        display: flex;
        gap: 40px;
        margin: 0 auto;
      }

      .portfolio-project {
        flex: 0 0 320px;
        box-sizing: border-box;
      }

      #projects, #contact {
        min-height: 100vh;        
        display: flex;
        align-items: center;
      }
      
      #skills {
        background-color: #CCCCFF;
        min-height: 100vh;
      }

      .skill-header {
        margin-top: 80px;
      }

      .skill-list {
        margin-bottom: 80px;
      }

      .skill-list, .tool-wrapper {
        display: flex;
        justify-content: space-evenly; 
        flex-wrap: wrap;
        padding: 20px 0;
        gap: 15px;
      }

      #projects {
        background-color: silver;
      }

      .contact-info {
        font-size: 40px;
      }

      footer {
        background-color: #D4AF37;
        min-height: 100vh;
        display: flex;
        align-items: center;
        padding: 0;
      }

      .btn {
        border: 2px solid #0E76A8;   
        border-radius: 5px;
      }
